<!doctype html>
<html ng-app>

<head>
  <title>GoPulse Dashboard</title>
  <script src='/static/js/angular.min.js'></script>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <script src='/static/js/gopulse.js'></script>
  <link rel='stylesheet' href='/static/css/gopulse.css'>
</head>

<body>
<div class='container' ng-controller='TaskCtrl'>
  <h1 class='charcoal rounded-box'>GoPulse Dashboard</h1>

  <h2>Welcome <<<.Name>>></h2>
  <<<.Email>>>

  <img class='spinner' src='/static/img/spinner.gif' alt='Loading' ng-class='{working: working}'/>
</div>
</body>
</html>